$dark: #444444;
$color-font-primary: #012970;
$color-font-secondary: #4154f1;
$color-font-tertiary: #0b198f;
$color-background-primary: #4154f1;
$color-background-secondary: #f6f9ff;
$color-background-tertiary: #ecf3ff;
$mobile: 425px;
$tablet: 768px;
$laptop: 1024px;
$font-primary: "Open Sans", sans-serif;
$font-secondary: "Nunito", sans-serif;
