// abstracts import
@import "abstracts/mixins";
@import "abstracts/variables";

// base  import
@import "base/base";
@import "base/typography";
@import "base/reset";

//components import
@import "components/buttons";
@import "components/form";
@import "components/gallery";

// layout import
@import "layout/footer";
@import "layout/grid";
@import "layout/header";
@import "layout/navigation";
@import "layout/sidebar";
@import "layout/main";
@import "layout/section-1";
@import "layout/section-2";
@import "layout/section-3";

//pages inputs
@import "pages/home";

//vendors import
@import "vendors/bootstrap/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include media($tablet) {
    font-size: 60%;
  }

  @include media($mobile) {
    font-size: 55%;
  }
}

body {
  font-family: $font-primary;
  position: relative;
}
