// abstracts import
@import "abstracts/mixins";
@import "abstracts/variables";

// base  import
@import "base/base";
@import "base/typography";
@import "base/reset";

//components import
@import "components/buttons";
@import "components/form";
@import "components/gallery";

// layout import
@import "layout/footer";
@import "layout/grid";
@import "layout/header";
@import "layout/navigation";
@import "layout/sidebar";

//pages inputs
@import "pages/home";

//vendors import
@import "vendors/bootstrap/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  @include media($laptop) {
    font-size: 60%;
  }

  @include media($tablet) {
    font-size: 50%;
  }

  @include media($mobile) {
    font-size: 40%;
  }
}

body {
  font-family: $font-primary;
  position: relative;
  min-height: 200vh;
}
